<div class="full-body-login">
<div class="login-form">
   <h2 class="logsign-title"> Log In </h2>
<form action="/auth/login" method="POST">
<div class="labels-div">
   <label> <p>Username</p>
      <br>
      <input type="text" name="username" autofocus="autofocus" placeholder="Enter your username">
   </label>
   <label> <p>Password</p>
      <input type="password" name="password" placeholder="Enter your password">
   </label>
   <button type="submit">Login</button>
   </div>
</form>
</div>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

