<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" />



<div class="full-body-login">
<div class="login-form">
   <h2 class="logsign-title"> Log In </h2>
<form action="/auth/login" method="POST">
<div class="labels-div">
   <label> <p>Username</p>
      <br>
      <input type="text" name="username" autofocus="autofocus" placeholder="Enter your username">
   </label>
   <label> <p>Password</p>
      <input type="password"  name="password" placeholder="Enter your password">
   </label>
   <button class="form-control" type="submit" width="150px">Login</button>
   </div>
</form>
</div>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

