<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" />

<h2 class="artwork-create-heading">Submit Your Artwork</h2>
<section class="create">
  <div class="container-lg">


    <div class="row justify-content-center my-5">

      {{#if errorMessage}}
      <p class="error-message"> Error: {{errorMessage}} </p>
      {{/if}}

      <div class="col-lg-6 ">
        <form action="/artwork/create" method="POST" enctype="multipart/form-data">

          <label for="" class="form-label">Title of Artwork:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Add the name of your artwork">

          <label for="" class="form-label mt-3">Artist:</label>
          <input type="text" class="form-control" id="title" name="artist" placeholder="Add the name of the artist">

          <label for="" class="form-label mt-3">Date Created</label>
          <input type="date" class="form-control" id="" name="date">

          <div class="form-floating mb-4 mt-3">
            <textarea id="" class="form-control" style="height: 100px" name="description"></textarea>
            <label for="description">Description:</label>
          </div>


          <div class="row justify-content-center my-5">
            <div class="row justify-content-center col-lg-8">

              <label class="btn btn-primary create-button col-lg-12" for="artworkPictureUrl">
                <input type="file" name="artworkPictureUrl" id="artworkPictureUrl" placeholder="Add artwork cover" />
                <span>
                  Artwork Image is Required
                </span>
              </label>
              <button onclick= type="submit" class="btn btn-primary create-button">Submit</button>
            </div>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>