<nav>
    <div id="flex-container">
    <ul>
<li><a href="/artwork"> View all artwork </a> </li>
<li>|</li>
<li><a href="/artwork/create"> Create a new piece of artwork </a></li>
<li>|</li>
<li><a href="/auth/signup"> Signup</a></li>
<li>|</li>
<li><a href="/auth/login">Login</a></li>
</ul>
</div>
</nav>


<h1>{{appTitle}} </h1>

