<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<p><a href="/artwork"> View all artwork </a> </p>
<p><a href="/artwork/create"> Create a new piece of artwork </a></p>
<p><a href="/auth/signup"> Signup</a></p>
<p><a href="/auth/login">Login</a></p>

