/* colors: {
  #5B9279 emerald, 
  #8FCB9B lighter green,
   #EAE6E5 platinum, 
   #8F8073 ceramic, 
   #12130F smoky black
}, */

body {
  /* padding: 50px; */
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav{
  background-color: #5B9279;
  padding-bottom: 10px;
  padding-top: 0px;
}

nav li{
  list-style-type: none;
  display: inline;
  padding: 12px;
  font-size: 20px;
}

#flex-container{
  display: flex;
  justify-content: flex-end;

}

.artwork-container{
  display: flex;
  justify-content: center;

}

.artwork-titles{
  text-align: center;
}

.artwork-list{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2%;
  text-align: center;
}