

<h1 style="text-align:center"> welcome to your profile, {{username}}!</h1>

<div class="profile-flex-container">


<div class="user-details-div"> 

<h3 class="user-details-title">User Details </h3>


<h5>First Name: {{firstName}}</h5>
<h5>Last Name: {{lastName}}</h5>
<h5>Country: {{userCountry}}</h5>



    

<a href="/profile/edit"> Edit My Profile </a>








</div>
<div class="user-favourites-div"> Favourite Art </div>

</div>

